*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection
{
    background-color: #4a25de; color: #fff;
}

::selection
{
    background-color: #4a25de; color: #fff;
}
/* ::-webkit-scrollbar { display: none; } */

@font-face
{
    font-family: sectra;
    src: url(../../fonts/GT-Sectra-Fine-Trial-Medium.otf) format('opentype');
}

@font-face
{
    font-family: authentic;
    src: url(../../fonts/AUTHENTIC-Sans.woff) format('woff');
}

@mixin boxflex
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

$background-color: #f5f5f5;
// $night-color: #1f1a28;

$color-1: #000;
$color-2: #f5f5f5;
$color-3: #4a25de;

$type-1: 'sectra', sectra, serif;
$type-2: 'authentic', sans-serif;

$type-size-1: 3em;
$line-height-1: 1.2em;
$type-size-2: 1em;
$line-height-2: 1em;

.t1
{
    font-family: $type-1;
    font-size: $type-size-1;
}

.t1-link
{
    font-family: $type-1;
    border-bottom: 0.5px solid $color-1;
}

.t2
{
    font-family: $type-2;
    font-size: $type-size-2;
}

.t2-link
{
    font-family: $type-2;
    border-bottom: 5px solid $color-3;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    cursor: crosshair;
}

body
{
    background-color: $background-color;
    margin: 0;
    overflow: hidden;
}

.center
{
  height: 100%;
  width: 100%;
  @include boxflex;
}

.home-text
{
    line-height: 1em;
    width: 750px;
    text-align: center;
}

.projects
{
    transform: translateY(10em) translateX(-15em) rotateZ(-90deg);
    text-align: left;

}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.load
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../assets/nadim-loading.gif) center repeat #ffffff;
    background-size: auto 50%;
}

.spin
{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 25000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 25000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 25000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 25000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spin .center .t1 .projects:hover
{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .iphone5 {

    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .iphone6 {

    }
}
